@{
    var courseIdInput = "";
    var courseNameInput = "";
    var successMessage = "";
    var errorMessage =  "";
    bool isValidCourseId =  false;

    var db = Database.Open("102547-concepttest");
    Validation.RequireField("course_id", "You must submit a Course ID");
    Validation.RequireField("course_name", "You must submit a Course name");

    if(IsPost && Validation.IsValid())
    {        
        courseIdInput = Request.Form["course_id"];
        courseNameInput = Request.Form["course_name"];

        if (db.QueryValue("SELECT COUNT(*) FROM T_Course WHERE course_id = @0", courseIdInput) == 0) {
            var addCommand = "INSERT INTO T_Course (course_id, course_name) VALUES (@0, @1)";
            db.Execute(addCommand, courseIdInput, courseNameInput);
            successMessage = "Course successfully added to database!";
            isValidCourseId = true;
        }
        else {
            errorMessage = "Course ID already exist, please try another Course ID.";
        }
    }
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <title>Add Course</title>
    </head>
    <body>
        @{
            if(IsPost && Validation.IsValid() && isValidCourseId) {
                <div>
                    <p>Course ID: @courseIdInput</p>
                    <p>Course name: @courseNameInput</p>
                    <h2>@successMessage</h2>
                    <p><a href="addCourse.cshtml">Add another Course</a></p>
                </div>
            }
            else {
                <form method="post">
                    <div>
                        <h1>Add Course</h1>
                        <hr>
                        <p>Course ID: <input type="text" name="course_id" size="16" style="margin-left: 21px" /> @Html.ValidationMessage("course_id") @errorMessage</p>
                        <p>Course name: <input type="text" name="course_name" size="16" /> @Html.ValidationMessage("course_name")</p>
                        <p><input type="Submit" name="Submit" value="Submit" /></p>
                        <p><a href="dashboard.cshtml">Back to dashboard</a></p>
                    </div>
                </form>
            }
        }
    </body>
</html>
