@{    
    var redirect = "~/login.cshtml";
    var courseNameInput = "";
    var courseNameOutput = "";
    var dateInput = "";
    var passwordInput = "";
    var successMessage = "";

    var db = Database.Open("102547-concepttest");
    var selected = db.Query("SELECT * FROM T_Course");
    if (Session["id"] != null) {
        int userId = (int)(Session["id"]);
    
        Validation.RequireField("course_name", "You must select a Course");
        Validation.RequireField("date", "You must submit a Date");
        Validation.RequireField("password", "You must submit a Password");

        if(IsPost && Validation.IsValid()) {        
            courseNameInput = Request.Form["course_name"];
            dateInput = Request.Form["date"];
            passwordInput = Request.Form["password"];
            courseNameOutput = db.QueryValue("SELECT course_name FROM T_Course WHERE id = @0", courseNameInput);

            var addCommand = "INSERT INTO T_Lecture (date, course_id, password) VALUES (@0, @1, @2)";
            db.Execute(addCommand, dateInput, courseNameInput, passwordInput);
            successMessage = "Lecture successfully added to database!";
        }
    }
    else {
        Response.Redirect(redirect);
    }   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <title>Add Lecture</title>
    </head>
    <body>
        @{
            if(IsPost && Validation.IsValid()) {
                <div>
                    <p>Course name: @courseNameOutput</p>
                    <p>Date: @dateInput</p>
                    <p>Password: @passwordInput</p>
                    <h2>@successMessage</h2>
                    <p><a href="addLecture.cshtml">Add another Lecture</a></p>
                </div>
            }
            else {
                <form method="post">
                    <div>
                        <h1>Add Lecture</h1>
                        <hr>
                        <p>
                            Course name:
                            <select id="course_name" name="course_name" style="margin-left: 36px" >
                                <option value="">-- Select Course --</option>                              
                                @foreach(var category in selected) {
                                    if(Request.Form["course_name"] == category.id.ToString()) {
                                        <option value="@category.id" selected>@category.course_name</option>
                                    }
                                    else {
                                        <option value="@category.id">@category.course_name</option>
                                    }
                                }
                            </select>
                            @Html.ValidationMessage("course_name")
                        </p>
                        <p>Date (yyyy-mm-dd): <input type="text" name="date" size="16" /> @Html.ValidationMessage("date")</p>
                        <p>Password: <input type="text" name="password" size="16" style="margin-left: 58px" /> @Html.ValidationMessage("password")</p>
                        <p><input type="Submit" name="Submit" value="Submit" /></p>
                        <p><a href="dashboard.cshtml">Back to dashboard</a></p>
                    </div>
                </form>
            }
        }
    </body>
</html>

@{
    if(db!=null) {
        db.Close();
    }
}