@{
    var pageTitle = "Add user";

    Validation.RequireField("username", "You must enter a username!");
    Validation.RequireField("password", "You must enter a password!");
    Validation.RequireField("name", "You must enter a name!");

    var usernameInput = "";
    var passwordInput = "";
    var nameInput = "";
    var successMessage = "";

    if(IsPost && Validation.IsValid()) {
        usernameInput = Request.Form["username"];
        passwordInput = Request.Form["password"];
        nameInput = Request.Form["name"];

        string pwhash = FormsAuthentication.HashPasswordForStoringInConfigFile(passwordInput, "sha1");

        var db = Database.Open("102547-concepttest");
        var insertCommand = "INSERT INTO T_User (username, password, name) VALUES(@0, @1, @2)";
        db.Execute(insertCommand, usernameInput, pwhash, nameInput);
        successMessage = "Successfully added " + usernameInput + " to database!";
    }
    
    
    //var selectedData = db.Query("SELECT * FROM [User] WHERE username = @0", usernameInput);
    //var grid = new WebGrid(source: selectedData);

}



<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <title>@pageTitle</title>
    </head>
    <body>
        @{
            if(IsPost && Validation.IsValid()) {
                <div>
                    <p>username: @usernameInput</p>
                    <p>password: @passwordInput</p>
                    <p>name: @nameInput</p>
                    <h2>@successMessage</h2>
                    <p><a href="adduser.cshtml">Add another user.</a></p>
                </div>
            }
            else {
                <form method="post">
                    <div class="bord">
                        <h1>Add user</h1>
                        <p>Username: <input type="text" name="username" maxlength="30"> @Html.ValidationMessage("username")</p>
                        <p>Password: <input type="password" name="password" maxlength="30"> @Html.ValidationMessage("password")</p>
                        <p>Name: <input type="text" name="name" maxlength="30"> @Html.ValidationMessage("name")</p>
                        <p><input type="submit" value="Add user"></p>
                    </div>
                </form>
            }
        }
        
    </body>
</html>
