@{
    var redirect = "~/login.cshtml";
    var pageTitle = "Add user";

    var usernameInput = "";
    var passwordInput = "";
    var nameInput = "";
    var successMessage = "";
    var errorMessage =  "";
    bool isValidUsername =  false;

    if (Session["id"] != null) {
        int userId = (int)(Session["id"]);
        var db = Database.Open("102547-concepttest");
        var checkIfAdmin = db.QueryValue("SELECT COUNT(*) FROM T_Admin WHERE userid = @0", userId);
        if (checkIfAdmin != 0) {


            Validation.RequireField("username", "You must enter a username!");
            Validation.RequireField("password", "You must enter a password!");
            Validation.RequireField("name", "You must enter a name!");



            if(IsPost && Validation.IsValid()) {
                usernameInput = Request.Form["username"];
                passwordInput = Request.Form["password"];
                nameInput = Request.Form["name"];
                if (db.QueryValue("SELECT count(*) FROM T_User WHERE username = @0", usernameInput) == 0) {
                    string pwhash = FormsAuthentication.HashPasswordForStoringInConfigFile(passwordInput, "sha1");

                    //var db = Database.Open("102547-concepttest");
                    var insertCommand = "INSERT INTO T_User (username, password, name) VALUES(@0, @1, @2)";
                    db.Execute(insertCommand, usernameInput, pwhash, nameInput);
                    successMessage = "Successfully added " + usernameInput + " to database!";
                    isValidUsername = true;
                }
                else {
                    errorMessage = "Username already exist, please try another username.";
                }


            }
    
    
            //var selectedData = db.Query("SELECT * FROM [User] WHERE username = @0", usernameInput);
            //var grid = new WebGrid(source: selectedData);
        }
        else {
            Response.Redirect(redirect);
        }

    }
    else {
        Response.Redirect(redirect);
    }
    

}



<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <title>@pageTitle</title>
    </head>
    <body>
        @{
            if(IsPost && Validation.IsValid() && isValidUsername) {
                <div>
                    <p>username: @usernameInput</p>
                    <p>password: @passwordInput</p>
                    <p>name: @nameInput</p>
                    <h2>@successMessage</h2>
                    <p><a href="adduser.cshtml">Add another user.</a></p>
                </div>
            }
            else {
                <form method="post">
                    <div>
                        <h1>Add user</h1>
                        <hr>
                        <table class="invisborder">
                            <tr>
                                <td align="right">Username:</td>
                                <td><input type="text" name="username" maxlength="30"></td>
                                <td>@Html.ValidationMessage("username") @errorMessage</td>
                            </tr>
                            <tr>
                                <td align="right">Password:</td>
                                <td><input type="password" name="password" maxlength="30"></td>
                                <td>@Html.ValidationMessage("password")</td>
                            </tr>
                            <tr>
                                <td align="right">Name:</td>
                                <td><input type="text" name="name" maxlength="30"></td>
                                <td>@Html.ValidationMessage("name")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Add user"></td>
                                <td></td>
                            </tr>
                        </table>
                        <hr>
                        <p><a href="dashboard.cshtml">Back to dashboard</a></p>
                    </div>
                </form>

            }
        }
        
    </body>
</html>
