
@{
    var pageTitle = "Dashboard";
    var addUserLink = "";
    var addCourseLink = "";
    var addLectureLink = "";
    var addQuestionLink = "";
    var logoutLink = "/logout.cshtml";
    var redirectLogin = "~/login.cshtml";
    bool admin = false;
    var getUsername = "";
    var getName = "";

    if (Session["id"] != null) {

        addCourseLink = "/addcourse.cshtml";
        addLectureLink = "/addlecture.cshtml";
        addQuestionLink = "/addquestion.cshtml";
        int userId = (int)(Session["id"]);
        var db = Database.Open("102547-concepttest");
        var checkIfAdmin = db.QueryValue("SELECT COUNT(*) FROM T_Admin WHERE userid = @0", userId);
        var queryDb = db.QuerySingle("SELECT username, name FROM T_User WHERE id = @0", Session["id"]);
        getUsername = queryDb.username;
        getName = queryDb.name;
        if (checkIfAdmin != 0) {
            addUserLink = "/adduser.cshtml";
            admin = true;
        }
    }
    else {
        Response.Redirect(redirectLogin);
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <title>@pageTitle</title>
    </head>
    <body>
        <div>
            <h1>Dashboard</h1>
            <hr>
            <h3>Welcome @getName!</h3>
            <p>logged in as <i>@getUsername</i></p>
            
            <a href="@addCourseLink">Add Course</a>
            <br/>
            <a href="@addLectureLink">Add Lecture</a>
            <br/>
            <a href="@addQuestionLink">Add Question</a>

            @{ 
                if (admin == true) {
                    <br/>
                    <a href="@addUserLink">Add User</a>
                }
            }
            <br/>
            <p><a href="@logoutLink">Logout</a></p>
        </div>
        
        
    </body>
</html>
