@using System.Text.RegularExpressions;
@helper dashboard() {
    var pageTitle = "Dashboard";
    var addUserLink = "";
    var addCourseLink = "";
    var addLectureLink = "";
    var addQuestionLink = "";
    var statisticsLink = "";
    var searchTagsLink = "";
    var settingsLink = "";
    var logoutLink = "/logout.cshtml";
    var redirectLogin = "~/login.cshtml";
    bool admin = false;
    var getUsername = "";
    var getName = "";

    if (Session["id"] != null) {

        addCourseLink = "/managecourse.cshtml";
        addLectureLink = "/managelecture.cshtml";
        addQuestionLink = "/managequestion.cshtml";
        statisticsLink = "/statistics.cshtml";
        searchTagsLink = "/searchtags.cshtml";
        settingsLink  = "/settings.cshtml";
        int userId = (int)(Session["id"]);
        var db = Database.Open("102547-concepttest");
        var checkIfAdmin = db.QueryValue("SELECT COUNT(*) FROM T_Admin WHERE userid = @0", userId);
        var queryDb = db.QuerySingle("SELECT username, name FROM T_User WHERE id = @0", Session["id"]);
        getUsername = queryDb.username;
        getName = queryDb.name;
        if (checkIfAdmin != 0) {
            addUserLink = "/adduser.cshtml";
            admin = true;
        }
    }
    else {
        Response.Redirect(redirectLogin);
    }
    <div>
        <h2>Dashboard</h2>
        <hr>
        <p><b>Welcome @getName!</b> logged in as <i>@getUsername</i></p>
        <table><tr>

        <td><a href="@addCourseLink">Manage course</a></td>
        
        <td><a href="@addLectureLink">Manage lecture</a></td>
        
        <td><a href="@addQuestionLink">Manage question</a></td>
        
        <td><a href="@statisticsLink">Statistics</a></td>
        
        <td><a href="@searchTagsLink">Search question by tags</a></td>

        @{ 
            if (admin == true) {
                
                <td><a href="@addUserLink">Add user</a></td>
                
                <td><a href="@settingsLink">Settings</a></td>
            }
        }
        </tr></table>
        <p><a href="@logoutLink">Logout</a></p>
    </div>
}